/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tests */
.h80 {
    height: 80px;
}

.h200 {
    height: 200px;
}

.h500 {
    height: 500px;
}

/* * {
    border: 1px solid red;
} */



/* COMMON  */
body {
    font-family: 'Open Sans',sans-serif;
}

/* Texts  */
.small-txt {
    font-size: 14px;
}

.medium.txt {

}
/* Containers  */
.container-wide {
    width: 80%;
    margin: auto;
}

.container-narrow {

}
/* Layout Structure  */
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.col {
    float: left;
}

/* Img Reset  */
img {
    width: 100%;
}

/* Ul Bullet List Reset */
ul {
    list-style-type: none;
}

/* Link Reset  */
a {
    text-decoration: none;
}

/* Buttons */
.btn {

}

.btn-large {
    padding: 5px 30px;
}

.btn-small {
    padding: 5px 15px;
}

.btn-white {
   
} 

.btn-blue {
    background-color: #0061ff;
    color: white;
}



/* HEADER  */
header {
    padding: 0px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
}

header .clearfix .col {
    width: 50%;
    line-height: 80px;
}

/* Nav menu  */
header .clearfix .col ul li {
    display: inline-block;
}

header a {
    margin-left: 40px;
    color: black;
}

.col-header-r {
    text-align: right;
}

/* Logo  */
header .logo-dropbox {
    vertical-align: middle;
}



/* MAIN  */
main {
    margin-top: 80px;
    background-color: tomato;
    height: 900px;
}
/* Jumbotrone  */
.jumbotrone {
    background-color: #b4d0e7;
    padding: 100px 0px;
}

.jumbotrone h1 {
    font-size: 80px;
    margin-bottom: 50px;
}

/* Columns  */
.col-jumbo-l {
    width: 30%;
}

.col-jumbo-r {
    width: 70%;
}

/* Left Column  */
.jumbotrone p.medium-txt {
    margin-bottom: 30px;
}

.col-jumbo-l a {
    display: inline-block;
    margin-bottom: 20px;
}

.jumbotrone p.small-txt {
    margin-bottom: 40px;
}

.download-icon {
    font-size: 45px;
}

/* Right Column  */
.jumbotrone img {
    position: relative;
}